# api id and api hash (my.telegram.org)
# required
API_ID=''
API_HASH=''

# pyrogram session string (@genstr_robot)
# required
SESSION='AQGGAUAAHMup_D7dqXtf9xNqxGW61cR7lWQHYFfXbo6Rf2XleaNZjnsMDWUXCfzGq39EojPsna0qOa41qagxWetaQnDs-m5t6xgsVHt0p3jtImYDH6C1VCL1TDOEN6aBgWsycOfq6YO1gk4azDCpWL63CIjRHNEVf3U51iKlGl23DBldNQ6rl4GEGMmYrXJ-ZotCGLxAFJIyp--HuQVhvYjWmWS2NHuuT6Kd7aJ94fzPHi9GuCsQpJdaTF6IBs0M6-O7VcIoS2wL-8C5SXBUTWfDXKIjYDjDhtPpSlGeUjD3QzIl4e6owh3VDL7l1e1cD1xIYqlFK9B5xeiVzam--rCtYwu0wgAAAAFYly0aAA'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN=''

# sudo user ids (separate with space)
# optional
SUDOERS=''

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
